{% extends '::base.html.twig' %}

{% block content %}
<div id="guest">
	
	
	<h2>en recherche de prestataire ?</h2>
	<h3>remplissez ce formulaire.</h3>
	
	<form action="{{ path('home')  }}" method="post" {{ form_enctype(form) }} novalidate>
		<fieldset>
				
				{{ form_row(form.firstName) }}
				
				{{ form_row(form.lastName) }}
				
				{{ form_row(form.email) }}
				
				{{ form_row(form.address) }}
				
				{% if city %}
					
					{{ form_label(form.city) }}
					{{ form_widget(form.city, { 'attr': {'value': city.name, 'autocomplete': 'off', 'spellcheck': 'false'} }) }}
					
					{{ form_label(form.postalCode) }}
					{{ form_widget(form.postalCode, { 'attr': {'value': city.postalCode} }) }}
					
				{% else %}
					
					{{ form_label(form.city) }}
					{{ form_widget(form.city, { 'attr': {'autocomplete': 'off', 'spellcheck': 'false'} }) }}
					
					{{ form_row(form.postalCode) }}
					
				{% endif %}
				
				<ul id="city-search">
					
				</ul>
				
				{{ form_row(form.phoneFix) }}
				
				{{ form_row(form.phoneMobile) }}
				
				{{ form_row(form._token) }}
				
				<p class="info">(tout champ est obligatoire)</p>
				
				<p class="button"><input type="submit" value="Envoyer" name="submit" /></p>  <div class="loader"></div>
				
		</fieldset>
	</form>
	
	{% if city %}
		{% render 'CmtTagBundle:Default:index' with {'city': city.name} %}
	{% else %}
		{% render 'CmtTagBundle:Default:index' %}
	{% endif %}
</guest>
{% endblock %}